#img{
 height:100px;
 width:100px;
 background-color:#ffff;
}
nav {
background: linear-gradient(to  bottom, #003ea9, #faf6e6, #8db7e2);
border-radius:20px;
width:50px;

}
.navlink{
 color:#ffff;
 font-family:orbitron;
}

